<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>

    <!-- META DATA -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Platforme d'assessment au profit de BCP">
    <meta name="author" content="Falirium">
    <meta name="keywords"
        content="admin,admin dashboard,admin panel,admin template,bootstrap,clean,dashboard,flat,jquery,modern,responsive,premium admin templates,responsive admin,ui,ui kit.">

    <!-- FAVICON -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/images/brand/favicon.ico}" />

    <!-- TITLE -->
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">BCP - Assessment</title>

    <!-- BOOTSTRAP CSS -->
    <link id="style" th:href="@{/assets/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />

    <!-- STYLE CSS -->
    <link th:href="@{/assets/css/style.css}" rel="stylesheet" />
    <link th:href="@{/assets/css/dark-style.css}" rel="stylesheet" />
    <link th:href="@{/assets/css/transparent-style.css}" rel="stylesheet">
    <link th:href="@{/assets/css/skin-modes.css}" rel="stylesheet" />

    <!--- FONT-ICONS CSS -->
    <link th:href="@{/assets/css/icons.css}" rel="stylesheet" />

    <link th:href="@{/assets/css/jquery-ui.min.css}" rel="stylesheet" />

    <!-- COLOR SKIN CSS -->
    <link id="theme" rel="stylesheet" type="text/css" media="all" th:href="@{/assets/colors/color1.css}" />

    <!-- JQUERY JS -->
    <script th:src="@{/assets/js/jquery.min.js}"></script>
    <script th:src="@{/assets/js/jquery-ui.min.js}"></script>

</head>

<body class="app sidebar-mini ltr light-mode">

    <!-- GLOBAL-LOADER -->
    <div id="global-loader">
        <img th:src="@{/assets/images/loader.svg}" class="loader-img" alt="Loader">
    </div>
    <!-- /GLOBAL-LOADER -->

    <!-- PAGE -->
    <div class="page">
        <div class="page-main">

            <!-- app-Header -->
            <div class="app-header header sticky">
                <div th:replace="/fragments/app-header"></div>
            </div>
            <!-- /app-Header -->

            <!--APP-SIDEBAR-->
            <div class="sticky">
                <div th:replace="/fragments/app-sidebar"></div>
            </div>
            <!--/ APP-SIDEBAR-->

            <!--app-content open-->
            <div class="main-content app-content mt-0">
                <div class="side-app">

                    <!-- CONTAINER -->
                    <div class="main-container container-fluid" layout:fragment="page-content">


                    </div>
                    <!-- CONTAINER CLOSED -->
                </div>
            </div>


            <!-- FOOTER -->
            <footer class="footer">
                <div class="container">
                    <div class="row align-items-center flex-row-reverse">
                        <div class="col-md-12 col-sm-12 text-center">
                            Copyright © <span id="year"></span> <a href="javascript:void(0)">Falirium</a>. Designed
                            &
                            developed with <span class="fa fa-heart text-danger"></span> by <a
                                href="javascript:void(0)">
                                Falirium </a> All rights
                            reserved.
                        </div>
                    </div>
                </div>
            </footer>
            <!-- FOOTER CLOSED -->

            

            <th:block layout:fragment="script">

            </th:block>
</body>

</html>